{% extends "index.html"%}

{% block title %}Kvíz čísla{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="mb-2">Kvíz čísla</h1>
    {% if request.args.get("run") == "False" and request.args.get("end") != "True" %}
        <p>Řekni jaké číslo vidíš na obrázku.</p>
        <p>Rodiče odpověď zkontrolují.</p>
    {% endif %}

    {% if request.args.get("end") == "False" %}
        {% if number %}
            <h1 style="font-size:72px" class="mt-4 mb-4">{{ number }}</h1>
        {%endif%}

        {%if request.args.get("run") == "True" %}
            <div class="mt-3">
                <h5>Druh čísel</h5>
                <div class="form-group">
                    <form action="{{ url_for('numbers', run = False, delFile = True, end = False) }}" method="POST">
                        <input type="radio" class="form-check-input" name="numbers_type" id="int" value="int" checked>
                        <label class="form-check-label" for="int">Celá čísla [1,2,3]</label><br>
                        <input type="radio" class="form-check-input" name="numbers_type" id="float" value="float">
                        <label class="form-check-label" for="float">Desetinná čísla [1.0,2.0,3.0]</label><br><br>
                        <input type="submit" value="Spustit kvíz" class="btn btn-primary mt-2">
                    </form>
                </div>
            </div>
        {% endif %}

        {%if request.args.get("run") == "False" %}
            <a href="{{ url_for('numbers', run=False, answer='Correct', delFile = False, end = False) }}" class="btn btn-success text-white">Správně</a>
            <a href="{{ url_for('numbers', run=False, answer='Fail',delFile = False, end = False, number = number) }}" class="btn btn-danger text-white">Špatně</a>
            <a href="{{ url_for('numbers', run=False, delFile = False, end = True) }}" class="btn btn-warning text-white">Ukončit kvíz</a>
        {% endif %}
    {% endif %}

    {% if request.args.get("end") == "True" %}
        <div class="mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th class="bg-success text-white rounded-top">Správně</th>
                    <th class="bg-danger text-white rounded-top">Špatně</th>
                    <th class="bg-success text-white rounded-top">Procent správně</th>
                    <th class="bg-danger text-white rounded-top">Procent špatně</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:2rem">
                    <td>{{ answer_correct }}</td>
                    <td>{{ answer_failed }}</td>
                    <td>{{ percentage_correct | round(1) }}%</td>
                    <td>{{ percentage_failed | round(1) }}%</td>
                </tr>
                {% if answer_correct or answer_failed %}
                <tr>
                    <td>
                        {% for i in range(answer_correct) %}
                            <img src="{{ url_for('static', filename='img/star.png') }}" alt="Hvzdička" style="width: 2rem;">
                        {% endfor %}
                    </td>
                    <td>{% for i in range(answer_failed) %}
                            <img src="{{ url_for('static', filename='img/pooh.png') }}" alt="Vtipné hovínko" style="width: 2rem;">
                        {% endfor %}
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}

                {% if failures%}
                <tr>
                    <td></td>
                    <td>
                        {% for fail in failures %}
                            {% if failures|length == 1 %}
                                <span>{{fail}}</span>
                            {% elif fail != failures[-1]%}
                                <span>{{fail}},</span>
                            {% else %}
                                <span>{{fail}}</span>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="mt-5">
        <a href="{{ url_for('numbers', run=True, delFile = True, end = False) }}" class="btn bg-primary text-white">Spustit kvíz</a>
    </div>

    {% include 'medal_result.html' %}

    {% endif %}
</div>
{% endblock %}